<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean id="ioBean" class="com.tsg.vendingmachine.view.UserIOConsoleImpl"></bean>
    <bean id="viewBean" class="com.tsg.vendingmachine.view.VendingMachineView">
        <constructor-arg ref="ioBean"></constructor-arg>
    </bean>
    <bean id="daoBean" class="com.tsg.vendingmachine.dao.VendingMachineDAOImpl"></bean>
    <bean id="auditBean" class="com.tsg.vendingmachine.dao.VendingMachineAuditDAOImpl"></bean>
    <bean id="serviceBean" class="com.tsg.vendingmachine.service.VendingMachineServiceImpl">
        <constructor-arg ref="daoBean"></constructor-arg>
        <constructor-arg ref="auditBean"></constructor-arg>
    </bean>
    <bean id="controller" class="com.tsg.vendingmachine.controller.VendingMachineController">
        <constructor-arg ref="viewBean"></constructor-arg>
        <constructor-arg ref="serviceBean"></constructor-arg>
    </bean>

</beans>